@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@500&display=swap');

/* reset*/

html,
body{

height: 100%;
margin: 0;

}

* {
    font-family: 'IBM Plex Sans', sans-serif;
}

label{

    font-family: 'IBM Plex Sans', sans-serif;



}
.fadeOut {
    opacity: 0;
    transition: 0.5s;
}

.invisivel {
    display: none;
}


#img{
width: 50%;    
margin-left: 25%;
margin-top: 5%;
margin-bottom: 10%;

}

article{

text-align: center;

box-shadow: 2px 2px 2px rgb(177, 174, 177);
background-color: rgb(233, 206, 241);

padding: 1%;
color: rgba(54, 54, 54, 0.74);
width: 100%;
opacity: 0.8;
font-size: medium;
}


#apresent{

   
	padding: 2%;
    width: 100%;
  
}


#text{
    
background-color: rgba(231, 231, 238, 0.459);
margin: 2%;
border-radius: 15px;
box-shadow: 2px 2px 2px #CCC;
padding-top: 2%;
padding-bottom: 0.5%;
padding-left: 1%;
color: rgba(54, 54, 54, 0.74);
text-align: center;
font-size: small;

}



#section_forms{
display: flexbox; 
justify-content: space-around;
width: 95%;
margin-left:2% ;
margin-top: 5%;

margin-bottom: 5%;
}


#section_forms2{
    display: flex; 
    justify-content: space-around;
    width: 100%;
    margin-top: 5%;
    margin-bottom: 5%;
    }





label{

font-size: small;

}


#tabela1{
font-size: small;
}
#tabela2{
font-size: small;
}

#tabela3{
font-size: small;
margin-top: 2%;
text-align: center;
width: 70%; 
margin-left: 1%;
margin-bottom: 3%;
}

#tabela4{
font-size: small;
font-size: small;
margin-top: 2%;
text-align: center;
width: 70%; 
margin-left: 1% ;
margin-bottom: 3%;

}
            
button{

opacity: 0.7;
width: max-content;
margin-bottom: 2%;
}











































@media only screen and (min-width: 480px){
#img{
    width: 35%;
    display: flex;
    justify-content: center;
   
    margin: 5%;
   
    
    
    }


.fadeOut {
    opacity: 0;
    transition: 0.5s;
}

.invisivel {
    display: none;
}


button{

opacity: 0.8;

}

article{

display: flex;
text-align: center;
justify-content: center;
border-radius: 15px;
box-shadow: 2px 2px 2px rgb(177, 174, 177);
background-color: rgb(230, 197, 236);

padding: 1%;
color: rgba(54, 54, 54, 0.74);
font-size:larger;
opacity: 0.8;
}

#apresent{

    display:flexbox;
    justify-content:space-around;

  
}

#apresent2{

    display: flex;
    justify-content:space-around;
	margin-top: auto;
    margin-bottom: auto;
    margin-left: 15%;
    margin-right: 15%;
    border: darkgray;

  
}

#form1{
margin: auto;
width: 40%;
color: rgba(54, 54, 54, 0.74);
}


#lista{


    box-shadow: 2px 2px 2px #CCC;
    color: rgba(54, 54, 54, 0.74);


}

#text{
background-color: rgb(231, 231, 238);
margin: 3%;
border-radius: 15px;
box-shadow: 2px 2px 2px #CCC;
padding: 2%;
color: rgba(54, 54, 54, 0.74);
text-align: center;
}

#BTN_distrib{


    
    
    margin-bottom: 3%;
    margin-left: 10%;
    margin-right: 10%;

}


    

#tabela1{
margin-top: 2%;
text-align: center;
width: 90%; 
margin-left: 6%;
margin-bottom: 3%;
}

.fadein {
	opacity: 1;
	transition: 0.5s;
}



#tabela2{
    margin-top: 3%;
    text-align: center;
    width: 90%; 
    margin-left: 6%;
    margin-bottom: 3%;
   
    }

#tabela3{
    margin-top: 2%;
    text-align: center;
    width: 70%; 
   
    margin-bottom: 3%;
    }


#tabela4{
    margin-top: 2%;
    text-align: center;
    width: 70%; 
    margin-left: 2%;
    margin-bottom: 3%;
    }


#resultados{

display: flex; 
justify-content: space-around; 
width: 60%; 
margin-left: 18%;

 }
}